.main-description {
	letter-spacing: 1px;
}


.border , .border-bottom , .border-top{
	border-color: #999999;
}

hr {
	height: .5px;
	color: #999999;
	background-color: #999999;
	border: none;
}

/******** SEARCH RESULT PAGE ********/

.less-line-height {
	line-height:14px;
}

.picture-box {
	height: 29px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: #aaa;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid 1px #aaa;;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #dddddd;
    margin-top: -4px;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    flex: 0 0 auto;
    align-self: stretch;
}

/******* RESIZING @MEDIA SM *******/

@media (max-width: 30em) {
  .sm-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
}

@media (max-width: 40em) {
  .sm-show { display: block !important }
}

@media (max-width: 40em) {
  .sm-hide { display: none !important }
}

@media (max-width: 40em) {

  .sm-col {
    float: left;
    box-sizing: border-box;
  }

  .sm-col-right {
    float: right;
    box-sizing: border-box;
  }

  .sm-col-1 {
    width: 8.33333%;
  }

  .sm-col-2 {
    width: 16.66667%;
  }

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-4 {
    width: 33.33333%;
  }

  .sm-col-5 {
    width: 41.66667%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-7 {
    width: 58.33333%;
  }

  .sm-col-8 {
    width: 66.66667%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-10 {
    width: 83.33333%;
  }

  .sm-col-11 {
    width: 91.66667%;
  }

  .sm-col-12 {
    width: 100%;
  }
